@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Raleway:wght@200;300&display=swap');

*{
    text-decoration: none;
}



header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: "Raleway";

}